name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'

jobs:
  find:
    name: Find add-ons
    runs-on: ubuntu-latest
    outputs:
      addons: ${{ steps.addons.outputs.addons_list }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Find add-ons
        id: addons
        uses: home-assistant/actions/helpers/find-addons@master

  lint:
    name: Lint ${{ matrix.path }}
    runs-on: ubuntu-latest
    needs: find
    strategy:
      matrix:
        path: ${{ fromJson(needs.find.outputs.addons) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Lint
        uses: frenck/action-addon-linter@v2.21
        with:
          path: './${{ matrix.path }}'
