name: Renovate

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:
    inputs:
      logLevel:
        default: info
        description: Override default log level
        required: false
        type: string

permissions:
  contents: read
  issues: write
  pull-requests: write
  security-events: read

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Renovate
        uses: renovatebot/github-action@v41.0.22
        with:
          configurationFile: .github/renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: ${{ inputs.logLevel || 'info' }}
          RENOVATE_REPOSITORIES: ${{ github.repository }}
